body {
    margin: 0;
    padding: 0;

}

nav {
  border: 1px solid black;
  width: 100%;
  min-height: 50px;
  
}

#search_bar {
  border: 1px solid black;
  width: 100%;
  min-height: 150px;
}

main {
  border: 1px solid black;
  width: 100%;
  min-height: 400px;
}

#footer {
  border: 1px solid black;
  width: 100%;
  min-height: 200px;
}