body {
    background-color: lightskyblue;
    

}

h1 {
    color: darkblue;
    font-family: serif;
    font-size: xx-large;
    text-align: center;
    margin: 1.5%;
}

h2 {
    color: white;
    background-color: orange;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    margin: 1%;
    border: thick black solid;
    border-radius: 25%;
}

li {
    letter-spacing: 0.2em;
    line-height: 2em;
    text-align: center;
}

/* unvisited link */
a:link {
    color: darkblue;
    text-decoration: none
  }
  
  /* visited link */
  a:visited {
    color: darkgreen;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    text-decoration: underline dotted gold;
    background-color: white; 
    
  }